# Opening and Viewing Data

 ### The open() function

In [ ]:
# make sure you are in the right directory
cd

In [ ]:
# look at the files in your directory
ls

In [59]:
# open("file_path", "mode")
# mode = "a" for appending, "r" for reading, or "w" for writing
# encoding = 'utf-16' -- This changes it to prevent ÿþ from appearing https://stackoverflow.com/questions/29230943/importing-a-text-file-gives-error


with open("random.txt", "r", encoding = 'utf-16') as x:
    a = x.read()
    print(a)

Random file
This has no purpose
bye

In [57]:
with open("random.txt", "r", encoding = 'utf-16') as x:
    b = x.readline()
    print(b)

Random file

In [58]:
with open("random.txt", "r", encoding = 'utf-16') as x:
    for line in x:
        print(line)

Random file

This has no purpose

bye

In [94]:
# Save lines as list using readlines()

with open("random.txt", "r", encoding = 'utf-16') as x:
    listx = x.readlines()

In [95]:
print(listx)

['Random file\n', 'This has no purpose\n', 'bye']

### Opening data from a website

In [70]:
# Import Packages
import urllib.request
# or you can open the specific function
from urllib.request import urlopen

In [71]:
url = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt'
filename = 'sample_text'
data = urllib.request.urlopen(url)
for n in data:
    print(n)

b'This is line 1 \n'
b'This is line 2\n'
b'This is line 3'

### Writing and appending with the open function

In [82]:
# 'w' makes a completely new file
with open('random1.txt', 'w') as newfile:
    newfile.write("This is line A\n")
    
# to check run the open() function with "r" mode
with open('random1.txt', 'r') as newfile:   
    for line in newfile:
        print(line)

This is line A

In [84]:
# 'w' will overwrite previous files
with open('random1.txt', 'w') as newfile:
    newfile.write("This is a different line A\n") #.write() adds text inside () to the file
    newfile.write("This is the second different line A\n")
with open('random1.txt', 'r') as newfile:   
    for line in newfile:
        print(line)

This is a different line A

This is the second different line A

In [85]:
# a adds to the file
with open('random1.txt', 'a') as newfile:
    newfile.write("a new line has been created")

with open('random1.txt', 'r') as newfile:   
    for line in newfile:
        print(line)

This is a different line A

This is the second different line A

a new line has been created

In [90]:
# Copying a file

with open('random1.txt','r') as x:
    with open('newrandom1.txt','w') as newx:
        for line in x:
            newx.write(line)
with open('newrandom1.txt','r') as newx:
    for line in newx:
        print(line)

This is a different line A

This is the second different line A

a new line has been created

### Using Pandas to read data

In [97]:
# assuming panas is installed which it is in jupyter
import pandas as pd
from bokeh.plotting import figure, output_file, show

In [98]:
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)

In [99]:
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}

In [107]:
df_gpd = pd.read_csv(links['GDP'])
df_gpd.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

In [102]:
df_unemp = pd.read_csv(links['unemployment'])
df_unemp.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

In [105]:
df_unemp_over85 = df_unemp[df_unemp['unemployment'] > 8.5 ]
df_unemp_over85

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

In [117]:
x = df_gpd['date']
x.head()

0    1948
1    1949
2    1950
3    1951
4    1952
Name: date, dtype: int64

In [119]:
gdp_change = df_gpd['change-current']
gdp_change.head()

0    -0.7
1    10.0
2    15.7
3     5.9
4     6.0
Name: change-current, dtype: float64

In [120]:
unemp = df_unemp['unemployment']
unemp.head()

0    3.750000
1    6.050000
2    5.208333
3    3.283333
4    3.025000
Name: unemployment, dtype: float64

In [121]:
dashboard_title = 'GDP and Unemployment Data'

In [122]:
file_name = 'file_index'

In [ ]:
make_dashboard(x=x, )